/********** OUTRO SPECIFIC CSS **********/
#main-container {
	width: 1024px;
	height: 768px;
	position: absolute;
}
.container {
	width: 1024px;
	height: 768px;
	left: 0px;
	top: 0px;
	position: absolute;
}
#outro-container {
	background-image: url('outroBG_iPadLand.png');
	background-size: 1024px 768px;
	display: none;
}
#animation-container{
	width: 100%;
	height: 100%;
	position: absolute;
}
/*uncomment the following code for midcore: (there is not currently a template for these values. Update coming soon)
.winning {
	background-image: url("victory_ipadassets.png");
	position:absolute;
	top: 229px;
	left: 42px;
	width:687px;
	height:231px;
}
.losing {
	background-image:url("defeat_ipadassets.png");
	position: absolute;
	top:229px;
	left:42px;
	width:687px;
	height:231px;
}*/

#mnectarbranding {
	background-image: url('mNectarBrand_1024x52.png');
	width: 1024px;
	height: 52px;
	top: 708px;
	position: absolute;
}
/*function that defines the animation to be called later. It also defines the parameters and animation deforms. 
http://www.w3schools.com/css/css3_animations.asp*/
@-webkit-keyframes pulse {
	from {-webkit-transform: scale(1);}
	to {-webkit-transform: scale(.8);}
}
#bottom-button {
	position: absolute;
	left:345px;
	top:525px;
}
#top-button {
	width:442px;
	height:156px;
	position: absolute;
	left:291px;
	top:345px;
	/*animation is called. This is in a very specific order. 1. animation name 2. duration 3. animation easing 4. delay 5. pattern*/
	animation: pulse 1.5s ease-in-out 1s infinite alternate;
}
.mng-install-click-url {
	position: absolute;
	width:1004px;
	height:658px;
	top:100px;
	left:10px;
}
.mng-idle-click-url {
	position: absolute;
	width:440px;
	height:146px;
	left:292px;
	top:346px;
}
.mng-error-click-url {
	position: absolute;
	width:330px;
	height:126px;
	top:516px;
	left:347px;
}
.mng-install-idle {
	background-image: url('CTA_iPadLand.png');
}
.mng-install-dl {
	background-image: url('CTA_iPadLand.png');
}
/*The thanks will be removed for a midcore game:*/
.mng-install-thanks {
	width:443px;
	height:61px;
	background-image: url('Thanks_iPadLand.png');
	left:299px!important;
	top:226px!important;
}
.mng-idle-retry {
	width:332px;
	height:178px;
	background-image: url('IdleRetry_iPadLand.png');
}
.mng-error-dl {
	width:333px;
	height:134px;
	background-image: url('DLerror_iPadLand.png');
}
.mng-error-retry {
	background-image: url('ErrorRetry_iPadLand.png');
}
/********** OUTRO SPECIFIC CSS **********/